
<app-add-todo class="formStyle" (todoAdd)="addTodo($event)"></app-add-todo>

<h5>Your Todos</h5>

<div>
    <button (click) = "showTodos()">Show Todos</button>
    <div *ngIf="this.todosArray.length===0; else elseBlock" >No Todos to display</div>
    <ng-template #elseBlock>
        <div  class="mb-5" *ngFor = "let todo of todosArray; index as i">
            <app-todo-item  [todo]="todo" [i]="i"  (todoDelete) = "deleteTodo($event)" (todoCheckbox) = "toggleTodo($event)">
            </app-todo-item>   
        </div>
    </ng-template>
</div>