

<table >
    <thead>
        <tr>
            <th>User Profile</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Username</td>
            <td>{{userDetails["username"]}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{userDetails["email"]}}</td>
        </tr>
        <tr>
            <td>
                
                <input type="button" (click)="onLogout()" class="btn btn-primary" value="Logout" />
                
            </td>
        </tr>
    </tbody>
</table>




