
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">To-do list</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/todos">Todos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sign-up">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sign-in">Sign In</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/user-profile">Your profile</a>
        </li>
      

      </ul>
      
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

